AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
IndentWidth: 4
IndentAccessModifiers: true
AccessModifierOffset: -4
SortIncludes: false
NamespaceIndentation: All
ColumnLimit: 100